---
layout: default
title: Home
---

<div id="home">
  <h2><i class="fa fa-bookmark"></i> Essays</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="fa fa-bookmark"></i> Digests</h2>
  <ul id="blog-posts" class="posts">
    {% for page in site.pages %}
      {% if page.categories contains 'digest' %}
        <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
