<nav>
  <!-- <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a> -->
  <div id="bio">
    <img src="images/headshot.jpg" align="left" style="vertical-align:middle; margin:2em" alt="my ugly mug"/>
    <p>
        <a href="#">Christopher A. Wood</a> <br />
        CV: <a href="https://github.com/chris-wood/cv/raw/master/caw_cv.pdf">Curriculum Vitae</a> <br />
        &#128211; Research Interests: Security and privacy for computer networks, systems, and protocols <br />
        [<a href="https://scholar.google.com/citations?user=f_QuauMAAAAJ&hl=en">Google Scholar</a>,
        <a href="http://dblp.uni-trier.de/pers/hd/w/Wood:Christopher_A=">DBLP</a>] <br /><br /> <!-- test -->
    </p>
    <h2><a href="/">{{ site.data.theme.name }}</a></h2>
    <p>{{site.data.theme.tagline1}}</p>
    {% include social.html %}
  </div>
</nav>

</div>
