<nav>
  <div id="bio" >
    <img src="images/headshot.jpg" align="left" style="vertical-align:middle; margin:2em" alt="my ugly mug"/>
    <p style="text-align:left">
        <h2><a href="/">{{ site.data.theme.name }}</a></h2>
        <p>{{site.data.theme.tagline1}}</p>
        <p>
        &#128211; Research Interests: Security and privacy for computer networks, systems, and protocols <br />
        [<a href="https://scholar.google.com/citations?user=f_QuauMAAAAJ&hl=en">Google Scholar</a>,
        <a href="http://dblp.uni-trier.de/pers/hd/w/Wood:Christopher_A=">DBLP</a>] <br /><br />
        </p>
        {% include social.html %}
    </p>
  </div>
</nav>
